@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
  --dark: #222831;
  --header-clr: #2d3250;
  --textarea-clr: #eeeeee;
  --keycap-clr: #2d3250;
  --keycap-hover-clr: #5c648d;
  --btn-on-clr: #344cb7;

  --textarea-width: 80vw;
  --textarea-height: 30vh;
}

body,
textarea,
button {
  font-family: "Inter", sans-serif;
}

#root {
  height: 100vh;
  background-color: var(--dark);
  color: white;
}

.chassis {
  width: 80vw;
  height: 43vh;
  padding: 0.5rem;
  display: grid;
  gap: 0.375rem;
  grid-template-rows: repeat(5, auto);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 0.5rem;
}

.key-row {
  display: grid;
  gap: 0.375rem;
  grid-template-columns: repeat(14, auto);
}
